<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Varela+Round&display=swap" rel="stylesheet">

</head>
<body>
    <div class="form-container">
        <h1>Register</h1>
        <form method="POST" action="/register">
            {{ form.hidden_tag() }}
            <label for="username">{{ form.username.label }}</label>
            {{ form.username(class="form-control") }}
            <label for="email">{{ form.email.label }}</label>
            {{ form.email(class="form-control") }}
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(class="form-control") }}
            <button name="submit" type="submit">Register</button>
        </form>
        <a href="{{ url_for('login') }}">Already have an account? Login</a>
    </div>
</body>
</html>
